.footer {
    background-color: $dark-background-color;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;

    h2 {
        color: white;
        font-size: 30px;
    }

    h3 {
        color: white;
        font-size: 24px;
    }

    img {
        width: 100px;
        margin-right: 10px;
    }

    .footer-column {
        display: flex;
    }
}

@include media-breakpoint-down(sm) {
    .footer-column {
        display: flex;
        justify-content: center!important;
        text-align: center;
        margin-top: 40px;
    }
    .second-footer {
        font-size: 9px;
    }
}

.second-footer {
    background-color: $dark-background-second-color;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}