.monTravail {
    padding-top: 60px;
    padding-bottom: 60px;

    .project-card {
        background-color: white;
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
        padding: 35px;

        .logo-section {
            text-align: center;
            height: 150px;
            padding: 20px;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        .description-section {
            margin-top: 40px;

            h3 {
                color: $text-color;
                font-family: Manjari-Bold, sans-serif;
                font-size: 16px;
            }

            p {
                color: $dark-background-color;
                font-size: 12px;
            }
        }

        .button-section {
            text-align: center;
            margin-top: 40px;

            .btn {
                background-color: $secondary-color;
                color: white;
                border-radius: 10px;
            }
        }
    }
    h2 {
        text-align: center;
    }
    .flickity-page-dots {
        bottom: -25px;
    }
}

@include media-breakpoint-down(sm) {
    .monTravail {
        h2 {
            text-align: left !important;
        }
    }

    .carousel-cell {
        width: 100%;
        margin: 0px;
    }

    .project-card {
        margin: auto;
    }
}

@include media-breakpoint-up(md) {
    .carousel-cell {
        width: 50%;
        margin: auto;
    }

    .project-card {
        margin: auto;
    }
}

@include media-breakpoint-up(xl) {
    .carousel-cell {
        width: 33%;
    }

    .project-card {
        margin: auto;
    }
}