<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 footer-column">
                <div style="display: block">
                    <div>
                        <h2>Timothé Duc</h2>
                    </div>
                    <img src="{{ asset('/build/images/logos/malt-error.png') }}" alt="malt logo">
                    <img src="{{ asset('/build/images/logos/behance-error.svg') }}" alt="behance logo">
                </div>
            </div>
            <div class="col-12 col-sm-4 footer-column" style="justify-content: center">
                <div>
                    <h3>Me contacter</h3>
                    <p>
                        <span class="up">Email</span>
                        : <a href="mailto:timotheduc@gmail.com" style="color: white">timotheduc@gmail.com</a>
                    </p>
                    <p>
                        <span class="up">Adresse</span>
                        : 23 route du coteau<br/>
                        26140 Saint Rambert d'Albon
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-4 footer-column d-none d-sm-block" style="justify-content: end">
                <div>
                    <h3>Général</h3>
                    <ul>
                        <li><a>Accueil</a></li>
                        <li><a>Mes compétences</a></li>
                        <li><a>Mon travail</a></li>
                        <li><a>Mon cursus</a></li>
                        <li><a>Me contacter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="second-footer">
    <div class="container second-dark">
        <div class="row">
            <div class="col-3">
                <a href="#">Sitemaps</a>
            </div>
            <div class="col-6" style="text-align: center">
                © Tous droits réservés - Timothé Duc - {{ 'now' | date('Y') }}
            </div>
            <div class="col-3" style="text-align: right">
                <a href="#">Conditions générales d'utilisations</a>
            </div>
        </div>
    </div>
</section>
