<section class="headerHomepage">
    <div class="container vertical-center">
        <div class="row">
            <div class="col-12 slide-in-left">
                <div>
                    <h1>Timothé Duc</h1>
                </div>
                <div>
                    <h3>Développeur Web Freelance</h3>
                </div>
            </div>
        </div>
    </div>
    <img class="slide-in-right" src="{{ asset('/build/images/ilustrations/code.svg') }}">
    <a href="#mesCompetences">
        <div class="arrow bounce"></div>
    </a>
</section>
