<section class="monTravail" id="monTravail">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Mon travail</h2>
                <p>Je travaille avec beaucoup de technologies web actuelles comme
                    <span class="up">Symfony / Wordpress / VueJs</span>
                    et bien d'autres ... Vous pourrez retrouver ci-dessous une partie des projets que j'ai put réaliser et sur lesquelles j'ai le droit de communiquer. Vous pouvez également retrouver l'intégralité de mon portfolio sur
                    <a href="https://www.behance.net/timotheduc">Behance</a>
                    .
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <div class="main-carousel" data-flickity='{ "cellAlign": "left", "autoPlay": 2500, "wrapAround": true, "prevNextButtons": false}'>
                    <div class="carousel-cell">
                        <div class="project-card">
                            <div class="logo-section">
                                <img src="{{ asset('/build/images/mon-travail/wiibus.svg') }}" alt="wiibus">
                            </div>
                            <hr/>
                            <div class="description-section">
                                <h3>Développeur Web et gestion de projets</h3>
                                <p>
                                    Refonte complète du site web et de la charte graphique en utilisant Wordpress.
                                </p>
                            </div>
                            <div class="button-section">
                                <a href="https://wiibus.com" target="_blank"><input class="btn" type="button" value="Voir le projet"></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="project-card">
                            <div class="logo-section">
                                <img src="{{ asset('/build/images/mon-travail/meilleure-visite.png') }}" alt="meilleure visite">
                            </div>
                            <hr/>
                            <div class="description-section">
                                <h3>Développeur Web et gestion de projets</h3>
                                <p>
                                    Refonte du site web en Wordpress, puis développement en équipe d'une plateforme de gestion de visites virtuelles en Symfony 3.4.
                                </p>
                            </div>
                            <div class="button-section">
                                <a href="https://decouvrir.meilleurevisite.com" target="_blank"><input class="btn" type="button" value="Voir le projet"></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="project-card">
                            <div class="logo-section">
                                <img src="{{ asset('/build/images/mon-travail/danse-la-plaine-entente.png') }}" alt="danse la plaine entente">
                            </div>
                            <hr/>
                            <div class="description-section">
                                <h3>Développeur Web + Création de charte graphique</h3>
                                <p>
                                    Création du site Web et de la charte graphique pour le club de danse "Danse la plaine entente" en utilisant Wordpress.
                                </p>
                            </div>
                            <div class="button-section">
                                <a href="https://danselaplaineentente.fr" target="_blank"><input class="btn" type="button" value="Voir le projet"></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="project-card">
                            <div class="logo-section">
                                <img src="{{ asset('/build/images/mon-travail/saint-francois-les-goelands.png') }}" alt="Saint françois les goélands">
                            </div>
                            <hr/>
                            <div class="description-section">
                                <h3>Développeur Web + Gestion de projets</h3>
                                <p>
                                    Premier projet en Freelance. Création du site Web en Wordpress avec gestion d'équipe. Création et imagination de la charte graphique complète et création du logo.
                                </p>
                            </div>
                            <div class="button-section">
                                <a href="https://www.saintfrancoislesgoelands.com/" target="_blank"><input class="btn" type="button" value="Voir le projet"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
