<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Timothé Duc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-0 ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mesCompetences">Mes compétences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#monTravail">Mon travail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#monCursus">Mon cursus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#meContacter">Me contacter</a>
            </li>
        </ul>
    </div>
</nav>
