<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Timothé Duc</a>
    <a id="menu-button" class="navbar-toggler">
        <i class="fas fa-align-left"></i>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-0 ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mesCompetences">Mes compétences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#monTravail">Mon travail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#monCursus">Mon cursus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#meContacter">Me contacter</a>
            </li>
        </ul>
    </div>
</nav>

<div id="menu" class="Absolute-Center">
    <div class="link-section">
        <ul>
            <li><a href="/" onclick="hideMenu()">Accueil</a></li>
            <li><a href="#mesCompetences" onclick="hideMenu()">Mes compétences</a></li>
            <li><a href="#monTravail" onclick="hideMenu()">Mon travail</a></li>
            <li><a href="#monCursus" onclick="hideMenu()">Mon cursus</a></li>
            <li><a href="#meContacter" onclick="hideMenu()">Me contacter</a></li>

        </ul>
    </div>
    <a id="close-button">
        <img src="{{ asset('/build/images/icons/cross.svg') }}" style="width: 15px; height: auto;">
    </a>
</div>

<script>
    document.getElementById('menu-button').addEventListener('click', openMenu);
    document.getElementById('close-button').addEventListener('click', hideMenu);

    function openMenu() {
        const menu = document.getElementById('menu');
        menu.classList.remove('hide-menu');
        menu.classList.add('show-menu');

    }

    function hideMenu() {
        const menu = document.getElementById('menu');
        menu.classList.remove('show-menu');
        menu.classList.add('hide-menu');
    }
</script>